@model IEnumerable<BMI.Models.RepackModel>
@{
    ViewData["Title"] = "Repack";
}
<div class="content-wrapper">
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">

                            <form method="get" asp-action="Detail" asp-controller="Repack">
                                <div class="input-group input-group-sm">
                                    <input type="date" asp-for="First().date">
                                    <span class="input-group-append">
                                        <button type="submit" value="Create" class="btn btn-primary go-repack">Go!</button>
                                    </span>
                                    <span asp-validation-for="First().date" class="text-danger" style="font-size:smaller"></span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="card">

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 3%">
                                        Packing Date
                                    </th>
                                    <th style="width: 3%">
                                        Destination PT
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var obj in Model)
                                {
                                    <tr>
                                        <td>
                                            <a style="font-size:smaller;color:black" asp-action="Detail" asp-controller="Repack" asp-route-date="@obj.date">@Html.DisplayFor(modelItem => obj.date) </a>
                                        </td>
                                        <td style="font-size:smaller">@obj.pt</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}