@model BMI.Models.Usermodel
@{
    ViewData["Title"] = "Login";
}

<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html"><b>Anova</b>Food</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Login</p>

            <form asp-action="SignIn">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="EmailAddress" type="email" class="form-control" placeholder="Email">
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <!-- /.col -->
                    <div class="">
                        <input type="submit" value="Login" class="btn btn-primary float-right" />
                    </div>
                    <!-- /.col -->
                </div>
                @*<a class="btn btn-primary" asp-area="" asp-controller="user" asp-action="SignUp">Sign Up</a>*@
            </form>

            @*<a href="login.html" class="btn btn-primary float-right">Register</a>*@
        </div>
    </div><!-- /.card -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
