@model IEnumerable<BMI.Models.AdjustmentRawModel>
@{
    ViewData["Title"] = ViewBag.status;
}
<div class="content-wrapper">
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"> @ViewBag.status List</h3>
                        <div class="card-tools ">
                            <button class="btn btn-sm float-right mx-1 add-destroy-raw"
                                    data-toggle="modal" data-target="#modal-default">
                                <i class="fa fa-plus">
                                </i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 2%;font-size:small">
                                        Source
                                    </th>
                                </tr>
                            </thead>
                            @if (Model.Count() > 0)
                            {
                                <tbody>
                                    @foreach (var obj in Model)
                                    {
                                        <tr>
                                            <td class="text text-sm">
                                                <a style="color:black" asp-controller="Adjustment" asp-action="DetailRaw" asp-route-raw="@obj.raw_source" >@obj.raw_source</a>
                                            </td>                             
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}