@model IEnumerable<BMI.Models.ProductionOutputModel>
@{
    ViewData["Title"] = "Production";
}
<div class="content-wrapper">
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            @if (Model.Count() > 0)
                            {
                                <form method="get" asp-action="Daily" asp-controller="Production">
                                    <div class="input-group input-group-sm">
                                        <input type="date" asp-for="First().date">
                                        <span class="input-group-append">
                                            <button type="submit" value="Create" class="btn btn-primary">Go!</button>
                                        </span>
                                        <span asp-validation-for="First().date" class="text-danger" style="font-size:smaller"></span>
                                    </div>
                                </form>
                            }
                            </div>

                        <div class="card-tools">
                            <a href="#" class="btn btn-sm btn-default upload-gr float-right "
                               data-toggle="modal" data-target="#modal-default">
                                GR
                                <i class="fa fa-upload">
                                </i>
                            </a>
                            <a href="#" class="btn btn-sm btn-default upload-gi float-right mx-2"
                               data-toggle="modal" data-target="#modal-default">
                                GI
                                <i class="fa fa-upload">
                                </i>
                            </a>
                            <a asp-controller="Production" asp-action="all" class="btn btn-sm btn-default float-right mx-2">
                                <i class="fa fa-book"></i>
                            </a>
                            <a href="#" class="btn btn-sm btn-default upload-gr float-right mx-2"
                               data-toggle="modal" data-target="#modal-default">
                                <i class="fa fa-history"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card">

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 4%">
                                        PT
                                    </th>
                                    <th style="width: 10%">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            @if (Model.Count() > 0)
                            {
                                <tbody>
                                    @foreach (var obj in Model)
                                    {

                                        <tr>
                                            <td style="font-size:smaller">@obj.pt</td>
                                            <td>
                                                <a asp-controller="Production" asp-action="Detail" asp-route-pt="@obj.pt" class="btn btn-sm btn-primary">View</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Add New Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form method="POST" asp-controller="Production" asp-action="ImportGI" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="form-group input-file">
                            <label for="exampleInputFile">File input</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="postedFile" id="postedFile" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}