@model IEnumerable<BMI.Models.ProductionView>
@{
    ViewData["Title"] = "Inventory";
}
<div class="content-wrapper">
    <section class="content-header">
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12" id="detail-raw-table">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Raw Material</h3>
                        <div class="card-tools ">
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10%;font-size:small">
                                        Raw Source
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Available Qty
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model)
                                {
                                    <tr>
                                        <td class="btn text text-sm detail-raw-material" data-raw="@obj.raw_source">@obj.raw_source</td>
                                        <td style="font-size:small">@obj.total.ToString("0.00")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


            <div class="col-6" id="detail-raw-material">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title" id="card-title-detail">Raw Material</h3>
                        <div class="card-tools ">
                            <button type="button" class="close close-detail-raw-material" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 3%;font-size:small">
                                        SAP Code
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Description
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Landing Site
                                    </th>
                                    <th style="width: 5%;font-size:small">
                                        Qty
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="data-raw-material">
         
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>


            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
